{% extends "base.jinja2" %}
{% block content %}
<h3 class="w3-text-indigo">Quick Lookup</h3>
<div class="form-size">
    <form action="{{ url_for('ipaddr.ip_lookup') }}" method="post">
        <label class="w3-text-blue"><b>IP Address</b></label>
        <input type="text" class="w3-input w3-border" id="ipaddr" name="ipaddr" placeholder="IP Address">
        <p>
        <button type="submit" class="w3-btn w3-blue">Search</button></p>
    </form>
</div>
<div>
    <p><label class="w3-text-blue"><b>Domain</b></label>
        <input class="w3-input w3-border" name="first" type="text"></p>
    <p>
        <button class="w3-btn w3-blue">Search</button>
    </p>
</div>
{% endblock %}